<div class="row">

  <div class="col-lg-12">

    <h1>Comparing Sensor Sites</h1>
    <br /><br />
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Sensor Site</th>
          <th>Latest Data</th>
        </tr>
        <% @sensors.each do |sensor| %>
          <tr data-sensor-id="<%= sensor["id"] %>" data-sensor-type="<%= sensor["type"] %>">
            <td>
              <p><strong><%= sensor["title"] or sensor["site_name"] %></strong> (<%= sensor["type"].upcase %> #<%= sensor["id"] %>)</p>
              <p><a href='/<%= sensor["type"] %>/<%= sensor["id"] %>'>Go to this sensor's page for more details</a></p>
            </td>
            <td>Loading...</td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>