<div class="row">

  <div class="col-lg-12">

    <h1>Comparing Sensor Sites</h1>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <td><h2>Sensor Site</h2></td>
          <td><h2>Latest Data</h2></td>
        </tr>
        <% @sensors.each do |sensor| %>
          <tr data-sensor-id="<%= sensor["id"] %>" data-sensor-type="<%= sensor["type"] %>">
            <td>
              <h3><%= sensor["title"] or sensor["site_name"] %></h3>
              <p><strong><a href='/<%= sensor["type"] %>/<%= sensor["id"] %>'>Go to this sensor's page for more details</a></strong></p>
            </td>
            <td>Loading...</td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>