<script type="text/javascript">
  var local_feed_path = '<%= @local_feed_path %>';
  var feed_id = '<%= @feed["id"]%>';
  var feed_location = ['<%= @feed["location_lat"] %>', '<%= @feed["location_lon"] %>'];
</script>

<section class="dashboard-current">
  <img class="dashboard-current-prop" src="/assets/img/prop-bigegg.png">
  <div class="dashboard-current-values clearfix">
  
    <% if @prevailing_aqi_component && @prevailing_aqi_component["computed_aqi"] > 0 %>
      <div class="" style="padding: 1px 15px 1px 15px; background-color:<%= @prevailing_aqi_component["aqi_cat"][:color] %>; color:<%= @prevailing_aqi_component["aqi_cat"][:font] %>">
        <p style="font-size:130%; line-height: 23px;"><strong>The air quality at this location is currently <%= @prevailing_aqi_component["aqi_cat"][:name].downcase %></strong> (<%= @prevailing_aqi_component["computed_aqi"] %> is the AQI value of <%= @prevailing_aqi_component["parameter"] %>)</p>
      </div>
    <% end %>

    <div class="current current-right">
      <h2 class="current-id heading-narrow">NO2</h2>
      <h3 class="current-id-full">Nitrogen Dioxide<br /><a class="current-external-link" href="http://www.epa.gov/air/nitrogenoxides/" target="blank">More info at EPA.gov</a></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @datastreams[:NO2] ? "#{@datastreams[:NO2]["value"]} #{@datastreams[:NO2]["unit"]}" : "" %></span>
          <% if @datastreams[:NO2] %><div class="current-value-gauge" data-aqi-value="<%= @datastreams[:NO2]["computed_aqi"] %>" id="current-gauge_NO2"></div><% end %>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @datastreams[:NO2] ? "Updated <span class='momentify'>#{@datastreams[:NO2]["datetime"]}Z</span>": ''%></p>      
    </div>

    <div class="current current-right">
      <h2 class="current-id heading-narrow">CO</h2>
      <h3 class="current-id-full">Carbon Monoxide<br /><a class="current-external-link" href="http://www.epa.gov/airquality/carbonmonoxide/" target="blank">More info at EPA.gov</a></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @datastreams[:CO] ? "#{@datastreams[:CO]["value"]} #{@datastreams[:CO]["unit"]}" : "" %></span>
          <% if @datastreams[:CO] %><div class="current-value-gauge" data-aqi-value="<%= @datastreams[:CO]["computed_aqi"] %>" id="current-gauge_CO"></div><% end %>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @datastreams[:CO] ? "Updated <span class='momentify'>#{@datastreams[:CO]["datetime"]}Z</span>": ''%></p>      
    </div>

    <div class="current current-right">
      <h2 class="current-id heading-narrow">Dust</h2>
      <h3 class="current-id-full"><br /><br /></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @datastreams[:Dust] ? "#{@datastreams[:Dust]["value"]} #{@datastreams[:Dust]["unit"]}" : "" %></span>
          <% if @datastreams[:Dust] %><div class="current-value-gauge" data-aqi-value="<%= @datastreams[:Dust]["computed_aqi"] %>" id="current-gauge_Dust"></div><% end %>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @datastreams[:Dust] ? "Updated <span class='momentify'>#{@datastreams[:Dust]["datetime"]}Z</span>": ''%></p>      
    </div>


    <div class="current current-right">
      <h2 class="current-id heading-narrow">Temperature</h2>
      <h3 class="current-id-full"><br /><br /></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @datastreams[:Temperature] ? "#{@datastreams[:Temperature]["value"]} #{@datastreams[:Temperature]["unit"]}" : "" %></span>
          <% if @datastreams[:Temperature] %><div class="current-value-gauge" data-aqi-value="<%= @datastreams[:Temperature]["computed_aqi"] %>" id="current-gauge_Temperature"></div><% end %>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @datastreams[:Temperature] ? "Updated <span class='momentify'>#{@datastreams[:Temperature]["datetime"]}Z</span>": ''%></p>      
    </div>
    
    <div class="current current-right">
      <h2 class="current-id heading-narrow">Humidity</h2>
      <h3 class="current-id-full"><br /><br /></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @datastreams[:Humidity] ? "#{@datastreams[:Humidity]["value"]} #{@datastreams[:Humidity]["unit"]}" : "" %></span>
          <% if @datastreams[:Humidity] %><div class="current-value-gauge" data-aqi-value="<%= @datastreams[:Humidity]["computed_aqi"] %>" id="current-gauge_Humidity"></div><% end %>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @datastreams[:Humidity] ? "Updated <span class='momentify'>#{@datastreams[:Humidity]["datetime"]}Z</span>": ''%></p>      
    </div>

  </div>

  <p class="dashboard-xively-link">
    <a class='button' href='https://xively.com/feeds/<%= @feed["id"]%>' target='blank'>Full details on Xively.com</a>
  </p>
  <p class="dashboard-updated">Egg last updated <%= string_to_time(@feed["updated"]) %></p>

</section>

<section class="dashboard-metadata">
  <h1 class="metadata-feed-title"><%= @feed["title"] %></h1>
  <% if @feed["location_exposure"] %>
  <h2 class="metadata-title">Exposure</h2>
  <p class="metadata-value"><%= @feed["location_exposure"] %></p>
  <% end %>
  <% if @feed["location_ele"] %>
  <h2 class="metadata-title">Elevation</h2>
  <p class="metadata-value"><%= @feed["location_ele"] %></p>
  <% end %>
  <% if @feed["description"] %>
  <h2 class="metadata-title">Description</h2>
  <p class="metadata-value metadata-description"><%= @feed["description"] %></p>
  <% end %>
</section>

<section class="dashboard-map-container">
  <div class="map dashboard-map" id="map_canvas" style="width:100%;height:500px;"></div>
  <div class="map-overlay">
    <p class="map-overlay-loading">Loading Egg <span>.</span><span>.</span><span>.</span></p>
  </div>
  <input id="pac-input" class="controls" type="text" placeholder="Zoom to location by searching" style="display:none;">
</section>

<section class="">
    <div id="dashboard-egg-chart"></div>
</section>