<script type="text/javascript">
  var datastreams = <%= @datastreams.to_json %>;
  var local_feed_path = '<%= @local_feed_path %>';
  var feed_id = '<%= @feed.id%>';
</script>
<!-- <section class="claiming clearfix">
  <form class="claiming-form" method="post" action="/register">
    <input class="input claiming-input" type="text" id="serial" name="serial" placeholder="Serial Number">
    <input class="button claiming-button" type="submit" name="submit" value="Add my egg">
  </form>
  <p class="bubble bubble-error claiming-error<% if !@error %> hidden<% end %>"><%= @error %></p>
</section>
 -->
<section class="dashboard-current">
  <img class="dashboard-current-prop" src="/assets/img/prop-bigegg.png">
  <div class="dashboard-current-values clearfix">
    
    <div class="current current-right">
      <h2 class="current-id heading-narrow">NO2</h2>
      <h3 class="current-id-full">Nitrogen Dioxide<br /><a class="current-external-link" href="http://www.epa.gov/air/nitrogenoxides/" target="blank">More info at EPA.gov</a></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @no2 ? "#{@no2.current_value.to_f.round(2)} #{@no2.unit_label}" : "<small class='current-value-unavailable'>Not available yet.</small>" %></span>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @no2 ? "Updated #{@no2.updated.in_time_zone(settings.time_zone)}": ''%></p>
    </div>

    <div class="current current-right">
      <h2 class="current-id heading-narrow">CO</h2>
      <h3 class="current-id-full">Carbon Monoxide<br /><a class="current-external-link" href="http://www.epa.gov/airquality/carbonmonoxide/" target="blank">More info at EPA.gov</a></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @co ? "#{@co.current_value.to_f.round(2)} #{@co.unit_label}" : "<small class='current-value-unavailable'>Not available yet.</small>" %></span>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @co ? "Updated #{@co.updated.in_time_zone(settings.time_zone)}": ''%></p>
    </div>

    <div class="current current-right">
      <h2 class="current-id heading-narrow">Dust</h2>
      <h3 class="current-id-full"><br /><br /></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @dust ? "#{@dust.current_value.to_f.round(2)} #{@dust.unit_label}" : "<small class='current-value-unavailable'>Not available yet.</small>" %></span>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @dust ? "Updated #{@dust.updated.in_time_zone(settings.time_zone)}": ''%></p>
    </div>


    <div class="current current-right">
      <h2 class="current-id heading-narrow">Temperature</h2>
      <h3 class="current-id-full"><br /><br /></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @temperature ? "#{celsius_to_fahrenheit(@temperature.current_value).round(2)} °F" : "<small class='current-value-unavailable'>Not available yet.</small>" %></span>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @temperature ? "Updated #{@temperature.updated.in_time_zone(settings.time_zone)}": ''%></p>
    </div>
    
    <div class="current current-right">
      <h2 class="current-id heading-narrow">Humidity</h2>
      <h3 class="current-id-full"><br /><br /></h3>
      <div class="current-value" style="margin-top:0px;height:20px;">
        <p class="current-value-measure" style="border-top:none; text-align:left;">
          <span class="current-value-measure-wrap" style="padding-left:0px;"><%= @humidity ? "#{@humidity.current_value.to_f.round(2)} #{@humidity.unit_label}" : "<small class='current-value-unavailable'>Not available yet.</small>" %></span>
        </p>
      </div>
      <p class="current-value-updated-at"><%= @humidity ? "Updated #{@humidity.updated.in_time_zone(settings.time_zone)}": ''%></p>
    </div>

  </div>

  <p class="dashboard-xively-link">
    <a class='button' href='https://xively.com/feeds/<%= @feed.id%>' target='blank'>Full details on Xively.com</a>
  </p>
  <p class="dashboard-updated">Egg last updated <%= string_to_time(@feed.updated) %></p>

</section>

<section class="dashboard-metadata">
  <h1 class="metadata-feed-title"><%= @feed.title %></h1>
  <% if @feed.location_exposure %>
  <h2 class="metadata-title">Exposure</h2>
  <p class="metadata-value"><%= @feed.location_exposure %></p>
  <% end %>
  <% if @feed.location_ele %>
  <h2 class="metadata-title">Elevation</h2>
  <p class="metadata-value"><%= @feed.location_ele %></p>
  <% end %>
  <% if @feed.description %>
  <h2 class="metadata-title">Description</h2>
  <p class="metadata-value metadata-description"><%= @feed.description %></p>
  <% end %>
</section>

<section class="dashboard-map-container">
  <h2 class="metadata-title" style='margin:0;'>Air quality eggs near this one</h2>
  <div class="map dashboard-map" id="map_canvas" style="width:100%;height:500px;"></div>
  <div class="map-overlay">
    <p class="map-overlay-loading">Loading Egg <span>.</span><span>.</span><span>.</span></p>
  </div>
  <input id="pac-input" class="controls" type="text" placeholder="Zoom to location by searching" style="display:none;">
</section>

<section class="">
    <div id="dashboard-xively-chart"></div>
</section>