<div class="row">
  <div class="col-lg-12">
    <h1>Wizard Demo</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data Visualzation Wizard</h3>
      </div>
      <div class="panel-body">
      
        <div class="wizardify">
          <ul>
            <li><a href="#tab1" data-toggle="tab"><span class="label">1</span> First</a></li>
            <li><a href="#tab2" data-toggle="tab"><span class="label">2</span> Second</a></li>
            <li><a href="#tab3" data-toggle="tab"><span class="label">3</span> Third</a></li>
            <li><a href="#tab4" data-toggle="tab"><span class="label">4</span> Forth</a></li>
            <li><a href="#tab5" data-toggle="tab"><span class="label">5</span> Fifth</a></li>
            <li><a href="#tab6" data-toggle="tab"><span class="label">6</span> Sixth</a></li>
            <li><a href="#tab7" data-toggle="tab"><span class="label">7</span> Seventh</a></li>
          </ul>
          <div class="tab-content">
            <hr />
            <div class="tab-pane" id="tab1">
              <div class="form-group">
                <label>First, let's choose dataset resource(s) to visualize:</label>
                <% META.each do |key,hash| %>
                  <% hash["resources"].select{|x| x["datastore_active"]}.each do |resource| %>
                    <div class="checkbox">
                      <label><input data-resource-id='<%= resource["id"] %>' name='resource-choose-<%= key %>' type="checkbox" value="<%= hash["id"] %>" class='resource-choose'><%= hash["title"] %>: <%= resource["name"] %></label>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="form-group">
                <label>Now choose a visualization type</label>
                <% [{"name" => "Grid", "value" => "grid"}].each do |view_type| %>
                  <div class="radio">
                    <label><input type="radio" name="view_type-choose" value="<%= view_type["value"] %>"><%= view_type["name"] %></label>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="tab3">
              3
            </div>
            <div class="tab-pane" id="tab4">
              4
            </div>
            <div class="tab-pane" id="tab5">
              5
            </div>
            <div class="tab-pane" id="tab6">
              6
            </div>
            <div class="tab-pane" id="tab7">
              7
            </div>
            <hr />
            <ul class="pager wizard">
              <li class="previous first" style="display:none;"><a href="#">First</a></li>
              <li class="previous"><a href="#">Previous</a></li>
              <li class="next last" style="display:none;"><a href="#">Last</a></li>
              <li class="next"><a href="#">Next</a></li>
            </ul>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div id="wizard-data"class="panel panel-default">
    </div>

  </div>

</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="data-view"></div>
    </div>
  </div>
</div>